@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

#main {
    width: 1000px;
}

#header {
    width: 1000px;
}

.menu {
    text-align: center;
}

.menu ul {
    margin: auto;
    display: inline-block;
}

.menu li {
    float: left;
    list-style: none;
    margin: 15px;
}

.menu a {
    padding: 15px 25px;
    text-decoration: none;
    color: green;
}

.menu a:hover {
    background-color: #DBBABA;
    color: black;
}

.info_title {
    width: 900px;
    height: 50px;
    margin: 0 25px;
    background-color: #AEAAAA;
    line-height: 50px;
    font-size: 15pt;
    font-weight: bold;
}

.info_title_detail {
    width: 800px;
    height: 50px;
    margin: 0 25px;
    background-color: #E4E3E3;
    line-height: 50px;
    font-size: 15pt;
    font-weight: bold;
}

.info_contents {
    padding: 30px;
    font-size: 14pt;
}

.info_table {
    /* border: 1px solid black; */
    border-collapse: collapse;
    /* 표의 테두리와 셀의 테두리 사이의 간격을 없애고 겹치는 부분은 한 줄로 나타냄 */
}

.info_table tr td {
    border: 1px solid black;
    padding: 10px 30px;
}

.info_table tr th {
    border: 1px solid black;
    padding: 10px 30px;
}
