* {
    font-family: "굴림";
    font-weight: bold;
}

.fontFamily {
    font-family: "Georgia", "굴림";
    background-color: bisque;
    color: sienna;
    font-weight: bold;
    text-align: center;
}

.fontFamily span {
    color: darkorange;
    font-size: 1.5em;
    font-style: italic;
}

.textalignLeft {
    text-align: left;
    height: 100px;
    line-height: 100px;
    background-color: #33333366;
    margin: 10px;
    padding: 10px;
}

.textalignCenter {
    text-align: center;
    height: 100px;
    line-height: 100px;
    background-color: #33333344;
    margin: 10px;
    padding: 10px;
}

.textalignRight {
    text-align: right;
    height: 100px;
    line-height: 100px;
    background-color: #33333322;
    margin: 10px;
    padding: 10px;

    /* border-style: dotted;
    border-width: 2px;
    border-color: goldenrod; */

    border: 2px dotted black;
}
